* {
    margin: 0px;
    text-align: center;
    background-color: white;
}

header {
    border: solid 5px blue;
    background-color: silver;
    margin: .25in;
    font size: 200%;
}    

body {
    border: solid 5px blue;          
    background-color: silver;
    margin: .25in;
}    

main {
    border: solid 5px blue;
    background-color: silver;
    margin: .25in;
    Font-size: 150%
}

footer {
    border: solid 5px blue;
    background-color: silver;
    margin: .25in;
    font-size: 200%;
}    
